// Twizr custom variables

// Your variable overrides
$icomoon-font-path: 		"../../twenty-em/node_modules/@themingisprose/icon-pack/fonts";

// Grid containers
$container-max-widths: (
	xxl: 1600px
);

// Fonts
$font-family-sans-serif:	"Lato", Helvetica, Arial, sans-serif;
$heading-font-family:		"Roboto Condensed", Helvetica, Arial, sans-serif;
$headings-font-weight:		300;

// Colors
$child-red:					#F44336 !default;
$child-pink:				#E91E63 !default;
$child-purple:				#9C27B0 !default;
$child-deep-purple:			#673AB7 !default;
$child-indigo:				#3F51B5 !default;
$child-green:				#4CAF50 !default;
$child-orange:				#FF9800 !default;
$child-deep-orange:			#FF5722 !default;
/**	*/
$child-primary:				#3F51B5 !default;
$child-success:				#CDDC39 !default;
$child-danger:				#F44336 !default;
$child-warning:				#FF9800 !default;
$child-info:				#2196F3 !default;
$child-gray:				#9E9E9E !default;
$theme-colors: (
	"child-red":			$child-red,
	"child-pink":			$child-pink,
	"child-purple":			$child-purple,
	"child-deep-purple":	$child-deep-purple,
	"child-indigo": 		$child-indigo,
	"child-green": 			$child-green,
	"child-orange":			$child-orange,
	"child-deep-orange":	$child-deep-orange,
	"child-primary": 		$child-primary,
	"child-success": 		$child-success,
	"child-danger": 		$child-danger,
	"child-warning": 		$child-warning,
	"child-info": 			$child-info,
	"child-gray":			$child-gray
);

// Links
$link-color:				$child-deep-purple;
$link-hover-decoration:		none;

// Components
$component-active-bg:		$child-deep-purple;
